# Lesson 1 Exercise 0 model answer
1. Print the natural numbers from 1 to 100.

Using `while` is straigtforward, but in this case I recommend to use `range` to prevent infinite loop.

In [1]:
i = 1
while i <= 100:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

To make it in one line, use a list comprehension and convert `range` object to `list`. For details look up the [official document](https://docs.python.org/3/library/functions.html#func-range).

In [3]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

2. Print the square of natural numbers from 1 to 100.

Use range. Change `print` statement above to print `i**2` instead of `i`

In [4]:
for i in range(101):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

In [5]:
print([i**2 for i in range(101)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

3. Print the square of odd numbers from 1 to 100.

Odd numbers can be expressed as `i % 2 == 1`, otherwise use `range(start, stop, step)`.

In [6]:
for i in range(101):
    if i % 2 == 1:
        print(i**2)

1
9
25
49
81
121
169
225
289
361
441
529
625
729
841
961
1089
1225
1369
1521
1681
1849
2025
2209
2401
2601
2809
3025
3249
3481
3721
3969
4225
4489
4761
5041
5329
5625
5929
6241
6561
6889
7225
7569
7921
8281
8649
9025
9409
9801

In [7]:
print([i**2 for i in range(1, 101, 2)])

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

4. Print the square of natural numbers that are not multiples of 3 from 1 to 100.

Such natural numbers are expressed as `i % 3 != 0`.

In [8]:
for i in range(101):
    if i % 3 != 0:
        print(i**2)

1
4
16
25
49
64
100
121
169
196
256
289
361
400
484
529
625
676
784
841
961
1024
1156
1225
1369
1444
1600
1681
1849
1936
2116
2209
2401
2500
2704
2809
3025
3136
3364
3481
3721
3844
4096
4225
4489
4624
4900
5041
5329
5476
5776
5929
6241
6400
6724
6889
7225
7396
7744
7921
8281
8464
8836
9025
9409
9604
10000

For list comrehension, `if` statement can be added.

In [9]:
print([i**2 for i in range(101) if i % 3 != 0])

[1, 4, 16, 25, 49, 64, 100, 121, 169, 196, 256, 289, 361, 400, 484, 529, 625, 676, 784, 841, 961, 1024, 1156, 1225, 1369, 1444, 1600, 1681, 1849, 1936, 2116, 2209, 2401, 2500, 2704, 2809, 3025, 3136, 3364, 3481, 3721, 3844, 4096, 4225, 4489, 4624, 4900, 5041, 5329, 5476, 5776, 5929, 6241, 6400, 6724, 6889, 7225, 7396, 7744, 7921, 8281, 8464, 8836, 9025, 9409, 9604, 10000]

5. Print power of 2 within the range of 1 to 5000.

To make it in one line, import numpy, or set an appropreate end for `range`. Otherwise... I don't know.

In [10]:
i = 1
while i < 5000:
    print(i)
    i = i * 2

1
2
4
8
16
32
64
128
256
512
1024
2048
4096

In [11]:
import numpy as np
print([2**i for i in range(int(np.ceil(np.log2(5000))))])

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

6. Print cube root of natural numbers ($\sqrt[3]{n}$) from 1 to 10 to the fourth decimal place.

In [12]:
for i in range(11):
    print(f'{i**(1/3):.4f}')

0.0000
1.0000
1.2599
1.4422
1.5874
1.7100
1.8171
1.9129
2.0000
2.0801
2.1544

In [13]:
print([f'{i**(1/3):.4f}' for i in range(11)])

['0.0000', '1.0000', '1.2599', '1.4422', '1.5874', '1.7100', '1.8171', '1.9129', '2.0000', '2.0801', '2.1544']